body{
 background-color: #FEFBE9 ;
}
hr{
 border-color: #E1EEDD;
 border-style: dotted none none;
 border-width: 5px;
 width: 5%;
}
img {
 height: 250px;
}
h1{
 color: #6096B4;
}
h3{
 color: #6096B4;
}